@using Ifinfo.Shared
@model AjoutEvaluationViewModel
@{
    ViewData["Title"] = "Evaluation Page";
}
<div class="text-center">
    <h1 class="display-4">Rajout d'une évaluation</h1>
</div>
<hr />
<form id="formAjoutEval" asp-controller="Home" asp-action="AjoutEvaluation" method="POST" style="width: 300px;">
    @*<input type="hidden" asp-for="Eleve.EleveID" value="@Model.Eleve.EleveID"/>*@

    <legend>Renseigner chaque champ pour l'évaluation</legend>
    <div class="mb-3">
        <label for="libelle" class="form-label">Nom de l'évaluation : </label>
        <input type="text" id="libelle" class="form-control" asp-for="Evaluation.EvaluationLibelle" value="" required>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date de l'évaluation : </label>
        <input type="date" placeholder="Choisir une date" class="form-control" id="reservationDate"
            asp-for="Evaluation.EvaluationDate" value="" required>
    </div>
    <div class="mb-3">
        <label for="matiere" class="form-label">Matière : </label>
        <input type="text" id="matiere" class="form-control" asp-for="Evaluation.EvaluationMatiere" value="" required>
    </div>
    <input type="submit" value="Ajouter" class="btn btn-secondary" id="btn_ajouter" >
</form>
<br>
@if (Model != null)
{


    @if (Model.ValidationMessages.Count() > 0)
    {
        <div>
            @foreach (string successMessage in Model.ValidationMessages)
            {
                <div class="alert alert-success" role="alert">@successMessage</div>
            }
        </div>
    }

}