@model GestionClasseMvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestion de Classes <i class="fas fa-users"></i></h1>
    <p>Le site pour gérer vos classes <i class="fas fa-book"></i></p>
</div>

<hr>
<div class="text-center row">
    @foreach (var item in Model.Classes)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Classe @item.ClasseNom <i class="fas fa-bookmark"></i></h5>
                    <p class="card-text"><strong>Niveau de la classe :</strong> @item.ClasseNiveau </p>
                    <a asp-controller="Eleve" asp-action="ListeEleve" asp-route-id="@item.ClasseID" class="btn btn-outline-secondary">Voir la classe</a>
                </div>
            </div>
        </div>
    }

</div>