@model GestionClasseMvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestion de Classes</h1>
    <p>Le site pour gérer vos classes</p>
</div>

<hr>
<div class="text-center">
    @foreach (var item in Model.Classes)
    {
        <a href="" class="btn btn-primary">Classe @item.ClasseNom </a>
    }

</div>